@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600;1,700&family=Open+Sans&family=Poppins:wght@400;600;700&family=Roboto+Mono:wght@600&family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	min-height: 100vh;
	width: 100vw;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: radial-gradient(103.28% 249.21% at -4.64% 102.53%, #ee41e7 0%, #ffffff 100%);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 375px;
	background-color: white;
	padding-bottom: 150px;
	border-radius: 30px;
	box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3);
	font-size: 24px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
	position: relative;
}

img {
	width: 100%;
	border-radius: 30px;
}

.todo-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.input-value {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 13px;
	text-align: left;
	line-height: 16px;
	color: #6c6868;
	width: 290px;
	height: 65px;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 0px #0000001a;
	border: none;
	padding: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

input::placeholder {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	opacity: 50%;
	color: #6c6868;
}

input:focus::placeholder {
	color: transparent;
}

.input-value:focus {
	outline: none;
}

.add-btn {
	width: 80px;
	height: 24px;
	margin-top: 20px;
	margin-bottom: 25px;
	cursor: pointer;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 10px;
	background: linear-gradient(to bottom, #cfa1fe 21%, #8205ff);
	color: white;
	border: none;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
}

.add-btn:active {
	text-decoration: none;
}
.add-btn:focus {
	text-decoration: none;
}

.todo-list {
	display: flex;
	justify-content: space-between;
}

.todo-item {
	width: 290px;
	height: 65px;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 0px #0000001a;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 13px;
	text-align: left;
	line-height: 16px;
	color: #6c6868;
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-top: 10px;
}

.todo-btns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 7px;
}

.del-btn {
	background: linear-gradient(10.53deg, #ff005c 25.06%, #ff699f 75.51%);
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.del-btn:hover {
	transform: scale(1.15);
}

.done-btn {
	background: linear-gradient(10.53deg, #458293 25.06%, #65b789 75.51%);
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.done-btn:hover {
	transform: scale(1.15);
}

.toggle-btn {
	background: linear-gradient(28.14deg, rgba(243, 104, 3, 0.99) 17.42%, #ffca0f 102.7%);
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(166deg, #00f0ff 1.83%, #03b0bc 59.19%);
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 0 0 30px 30px;
	height: 5rem;
}

.footer-txt {
	color: white;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	letter-spacing: 0em;
}

textarea {
	resize: none;
	overflow: hidden;
}
